{% extends "layout.html" %}

{% block content %}

{% if todo %}
<form action="/todo/{{todo.id}}" method="post">
    <label for=subject>Subject</label><input type="text" name="subject" id="subject" value="{{todo.subject}}"><br><br>
    <label for=description>Description</label><input type="text" name="description" id="description"
        value="{{todo.description}}">

    <button>Submit</button>
    <button formaction="/todo/">Cancel</button>
</form>

{% else %}
<form action="/todo/create" method="post">
    <label for=subject>Subject</label><input type="text" name="subject" id="subject" "><br><br>
    <label for=description>Description</label><input type=" text" name="description" id="description">
    <button>Submit</button>
    <button formaction="/todo/">Cancel</button>
</form>

{% endif %}



{% endblock %}